*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    overflow-x: hidden;

    .popup{
        position: fixed;
        top: 92%;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 8px 16px;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 6px;
        color: white;
        border-radius: 8px;
        opacity: 100;
        transition: all ease .3s;
        font-size: 24px;

        @media(max-width: 767px){
            font-size: 16px;
        }
    }

    .popupNone{
        opacity: 0;
        transition: all ease .3s;
        transform: translate(-50%, 10vh);
    }

    .hero{
        height: 40vh;
        background-image: url(../../imgs/Geral/hero1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @media(max-width: 767px){
            height: 50vw;
        }

        &::before{
            background-color: rgba(0, 0, 0, .2);                            
            background-image: linear-gradient(0deg, #000, transparent, transparent, transparent);
            position: absolute;
            content: '';
            inset: 0;
        }

        .central_logo{
            margin: 0 auto;
            max-width: 1280px;
            width: 90%;
            text-align: center;
            position: relative;
            top: 24vh;

            @media(max-width: 767px){
                top: 24vw;
            }

            img{
                border-radius: 50%;
                max-width: 240px;

                @media(max-width: 767px){
                    max-width: 180px;
                }
            }
        }
    }

    .cardapio_box{
        background-image: url(../../imgs/Geral/black-wooden-floor.jpg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;

        .cardapio{
            padding-top: 24vh;

            @media(max-width: 767px){
                padding-top: 30vw;
            }

            .menu{
                display: flex;
                max-width: 720px;
                width: 90%;
                margin: 0 auto;
                justify-content: space-between;
                margin-bottom: 32px;

                .tabBox{
                    .btn{
                        padding: 0 4px;
                        color: whitesmoke;
                        font-size: 32px;
                        border: none;
                        background-color: transparent;
                        border-radius: 4px;
                        transition: all ease 0.3s;
                        border-bottom: white solid 4px;

                        @media(max-width: 767px){
                            font-size: 20px;
                        }
    
                        &:hover{
                            text-shadow: white 0px 0px 4px;
                            transform: scale(1.1);
                            transition: all ease 0.3s;
                        }
                    }
                    .hiddenBorder{
                        border: none;
                    }
                }
            }
            
            .grupo{
                max-width: 1280px;
                width: 90%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 0 64px;
                margin: 0 auto;
                margin-bottom: 32px;

                .item{
                    max-width: 580px;
                    width: 100%;
                    display: flex;
                    gap: 16px;
                    margin-bottom: 32px;
                    background-color: whitesmoke;
                    padding: 16px;
                    border-radius: 16px;
                    border: 2px #222 solid;
                    box-shadow: white 0px 0px 8px;

                    @media(max-width: 767px){
                        display: block;
                        text-align: center;
                    }

                    img{
                        border-radius: 16px;
                        max-width: 180px;
                        box-shadow: 2px 4px 8px;
                    }

                    .description{
                        padding: 8px 4px;;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .texto{

                            width: 100%;
                            .title{
                                font-size: 24px;
                                margin-bottom: 8px;
                            }
    
                            p{
                                font-size: 20px;
                                margin-bottom: 8px;
                            }
    
                            .preco{
                                font-size: 20px;
                            }
                        }
                        
                        .btnBox{
                            display: flex;
                            width: 100%;
                            justify-content: end;

                            @media(max-width: 767px){
                                margin-top: 8px;
                                justify-content: center;
                            }

                            .adicionar{
                                padding: 4px 8px;
                                font-size: 16px;
                                background-color: rgb(160, 40, 8);
                                border-radius: 4px;
                                color: white;
                                border: solid rgb(160, 40, 8) 2px;
                                box-shadow: #000 1px 2px 4px;
                                transition: all ease 0.3s;

                                &:hover{
                                    transform: scale(1.1);
                                    transition: all ease 0.3s;
                                    
                                }
                            }
                        }
                    }
                }
            }

            .sobre{
                margin-bottom: 0;
                padding: 48px 0 80px;

                p{
                    max-width: 720px;
                    width: 100%;
                    text-align: center;
                    margin: 0 auto;
                    padding: 16px 0;
                    color: whitesmoke;
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 4px;
                    border: solid 2px rgba(0, 0, 0, 0.6);
                    font-size: 24px;
                }
            }

            .hidden{
                display: none;
            }

            .infos{
                max-width: 1280px;
                width: 90%;
                margin: 0 auto;
                text-align: center;
                
                h2{
                    font-size: 32px;
                    color: whitesmoke;
                    margin-bottom: 32px;

                    @media(max-width: 767px){
                        font-size: 20px;
                    }
                }

                .inputs{
                    display: flex;
                    justify-content: center;
                    gap: 64px;
                    padding-bottom: 32px;

                    @media(max-width: 767px){
                        display: block;
                    }

                    .pedido{
                        max-width: 600px;
                        width: 100%;

                        ul, .obs{
                            font-size: 16px;
                            margin-bottom: 16px;
                            border-radius: 8px;
                            width: 100%;
                            padding: 4px;
                            margin-bottom: 16px;
                            min-height: 64px;
                            height: 100%;
                        }

                        ul{
                            background-color: white;
                            max-height: 200px;
                            overflow-y: auto;

                            li{
                                list-style: none;
                                font-weight: 700;
                                border-radius: 4px;
                                padding: 8px 8px;
                                text-align: left;
                                background-color: whitesmoke;
                                display: flex;
                                justify-content: space-between;
                                border: solid 2px rgba(0, 0, 0, .2);

                                .itemInfo{
                                    display: flex;
                                    justify-content: space-between;
                                    width: 90%;
                                }

                                p{
                                    font-size: 18px;
                                }

                                strong{
                                    color: white;
                                    background-color: rgb(160, 40, 8);
                                    padding: 0 6px;
                                    border-radius: 50%;
                                    cursor: pointer;
                                    transition: all ease 0.2s;
                                    align-self: baseline;
                                    
                                    &:hover{
                                        transition: all ease 0.2s;
                                        transform: scale(1.1);
                                    }

                                    
                                }
                            }
                        }

                        .obs{
                            max-height: 72px;
                        }
                    }
                    
                    .endereco{
                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        margin-bottom: 36px;

                        input{
                            font-size: 16px;
                            border-radius: 8px;
                            padding: 2px 8px;
                            max-width: 360px;
                            width: 100%;
                        }
                    }
                }

                .calcBox{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-bottom: 32px;
                    max-width: 720px;
                    margin: 0 auto;

                    .pix{
                        margin-bottom: 8px;

                        .pixTxt{
                            margin-bottom: 4px;
                            max-width: 360px;
                            padding: 4px 8px;
                            font-size: 20px;
                            background-color: rgba(0, 0, 0, 0.8);
                            border-radius: 4px;
                            box-shadow: 0 0 4px;
                            color: white;
                        }
                    }

                    .txt{
                        color: white;
                        font-size: 20px;
                        background-color: rgba(0, 0, 0, 0.8);
                        border-radius: 4px;
                        box-shadow: 0 0 4px;
                        padding: 4px 8px;
                    } 
                }

                .btnBox{
                    padding-bottom: 64px;
                    display: flex;
                    justify-content: center;

                    .btnEnviar{
                        max-width: 320px;
                        padding: 4px 8px;
                        font-size: 24px;
                        background-color: rgb(8, 160, 40);
                        border-radius: 4px;
                        border: solid rgb(8, 160, 40) 2px;
                        box-shadow: #000 1px 2px 4px;
                        color: white;
                        transition: all ease 0.3s;

                        &:hover{
                            transform: scale(1.1);
                            transition: all ease 0.3s;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}